<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="adb" value="C:\Users\Gabriel\AppData\Local\Android\android-sdk\platform-tools\adb.exe"/>
    <add key="stepSleepMinMilliseconds" value="2000"/>
    <add key="stepSleepMaxMilliseconds" value="4500"/>
  </appSettings>
</configuration>